.left{
    width:35rem;
    height:12rem;
    text-transform: uppercase;
    position: relative;
    
}
.right{
    width:15rem;
    height:12rem;
    position: relative;
   
}
.title{
    position: absolute;
    bottom: 0px;
    left: 30%;
    text-align: center;
    /* text-transform: uppercase; */
}