.left{
    width:35rem;
    height:10rem;
    text-transform: uppercase;
    
}
.right{
    width:15rem;
    height:10rem;
    position: relative;
   color: red ;
}
.title{
    position: absolute;
    bottom: 0px;
    left: 30%;
    text-align: center;
}