.details{
    background: rgba(227, 183, 72, 1);



}

#head{
    background: rgba(30, 27, 27, 0.5);
    color: black
}
.acco{
    border-radius: 0.5rem;
    border: none;
    background: rgba(188, 19, 19, 0.5);

}