.subscribes{
height: 356px;
background-color:darkslategray;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 1rem;
gap: 30px;
}
#send{
    background: rgba(227, 183, 72, 1);
    height: 1rem;
}